/* raleway-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/raleway-v34-latin-300.woff2') format('woff2');
    src: url('../fonts/raleway-v34-latin-regular.woff2') format('woff2');
    src: url('../fonts/raleway-v34-latin-500.woff2') format('woff2');
    src: url('../fonts/raleway-v34-latin-800.woff2') format('woff2');
  }


html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
}
img{
    display: block;
    
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
    color: #000000;
}
ul{
    list-style-type: none;
    color: #000000;
}
a,
a:active,
a:visited{
    text-decoration: none;
}

p{font-size: 18px;}

h1{
    font-size: 35px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}


body{
    font-family: 'Raleway Regular', sans-serif;
    margin: 0 auto;
    max-width: 1440px;
}

.container{
    max-width: 1260px;
    /* height: 100%; */
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

/* mob */

.mobile-menu{
    width: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.mobile-close{
    display: none;
    width: 37px;
}


.mob-links {

    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding-top: 100px;
}
.mob-link {
    font-size: 25px;
    color: #000000;
}

.action-img-mob{
    width: 150px;
    border-radius: 50%;
}


/* header */

header{
    box-shadow: 0px 1px 17px rgba(143, 143, 143, 0.842);
    
}

.header-flex {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;

}
.logo-link {
    font-size: 35px;
    color: rgb(180, 180, 180);
}
.header-nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-link {
    font-size: 20px;
    color: rgb(180, 180, 180);
    transition: 0.3s;
}
.nav-link:hover {
    font-size: 20px;
    color: rgb(80, 80, 80);
    transition: 0.3s;
}


/* main */

/* action */

.act{
    background-color: #000000;
}
.main-action {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 30px;
}
.action-img {
    width: 280px;
    border-radius: 50%;
}
.action-h1 {
    color: #fff;
    text-align: center;
}
.action-p {
    color: #fff;
    text-align: center;
    width: 70%;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #fff;
    background-color: #000000;
    color: #fff;
    transition: 0.3s;
}
.button:hover {
    width: 250px;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #000000;
    background-color: #fff;
    color: #000000;
    transition: 0.3s;
}

/* bread */

.bread {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.bread-h2 {
    text-align: center;
}
.bread-p {
    text-align: center;
    width: 70%;
    color: rgb(80, 80, 80);
}
.bread-items {
    display: flex;
    justify-content: space-between;

}
.br-item {
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 20px 15px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    box-shadow: 0px 1px 17px rgba(143, 143, 143, 0.842);
}
.bread-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.bread-h3 {
    text-align: center;
}

/* pir */

.ppp{
    background-color: #000000;
}

.pir {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
}


.pir-h2 {
    text-align: center;
    color: #fff;
}

.pr-p{
    width: 70%;
    color: rgb(80, 80, 80);
    text-align: center;
}
.pir-items {
    
    display: flex;
    justify-content: space-between;
    
}
.pr-item {
    padding: 30px 20px;
    width: 48%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 5px;
}
.bread-img {
    

}
.bread-h3 {
    color: #000000;
}
.bread-p {
    color: rgb(80, 80, 80);
}

/* sl */

.sl {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.sl-h2 {
    text-align: center;
}

.s-p{
    width: 70%;
    color: rgb(80, 80, 80);
    text-align: center;
}
.sl-items {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.sl-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    box-shadow: 0px 1px 17px rgba(143, 143, 143, 0.842);
}
.sl-img {
    width: 40%;
}
.sl-item-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sl-h3 {
    text-align: center;
}
.sl-p {
    text-align: center;
    color: rgb(80, 80, 80);
}

/* sc */

.our-sc {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 17px rgba(143, 143, 143, 0.842);
    background-color: #000000;
}
.sc-img {
    width: 45%;
    border-radius: 5px;
    object-fit: cover;
}
.sch-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.sc-rec-h2 {
    text-align: center;
    color: #fff;
}
.sc-rec-p {
    color: rgb(173, 173, 173);
    text-align: center;
}

/* form */

.form-comt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 50px;
}
.form-h2 {
}
.form-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input {
    height: 50px;
}

.submit-button {
    width: 100%;
}
.submit-button:hover {
    width: 100%;
}

/* contacts */

.ccc{
    box-shadow: 0px 1px 17px rgba(143, 143, 143, 0.842);
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    
}
.contacts-h2 {
    text-align: center;
}
.contacts-container-flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-number {
    font-size: 16px;
}
.contact-number:hover {
    font-size: 16px;
}
.contact-place {
    font-size: 16px;
}
.contact-place:hover {
    font-size: 16px;
}
.contact-mail {
    font-size: 16px;
}
.contact-mail:hover {
    font-size: 16px;
}

/* footer   */

.footer{
    background-color: #000000;
}

.footer-flex {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    
}

.footer-logo{
    font-size: 35px;
}

.footer-nav-links {
    display: flex;
    gap: 30px;
}
.footer-link {
    color: rgb(180, 180, 180);
    transition: 0.3s;
}
.footer-link:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s;
}


/* media */

@media screen and (max-width: 768px ){


    .container{
        max-width: 1260px;
        /* height: 100%; */
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-nav-links {
        display: none;
    }

    .mobile-menu{
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }

    .action-p {
        
        width: 90%;
    }

    .bread-p {
        
        width: 90%;
    }

    .bread-items {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .br-item {
        width: 100%;
        
    }

    .pir-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .pr-item {
        
        width: 100%;
        
    }
    .pr-p{
        width: 100%;
        color: rgb(80, 80, 80);
    }

    .sl-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

    .s-p{
        width: 100%;
        color: rgb(80, 80, 80);
    }

    .sl-item-info {
        width: 90%;
       
    }

    .sl-img {
        width: 90%;
    }

    .our-sc {
       flex-direction: column-reverse;
       align-items: center;
       gap: 30px;
}

.sch-info {
    width: 90%;
    
}

.sc-rec-p {
    text-align: center;
}

.sc-img {
    width: 80%;
}

.form-items {
    width: 80%;
}

.footer-nav-links {
    flex-direction: column;
    align-items: center;
}
}

@media screen and (max-width: 480px ){

    .logo-link {
        font-size: 20px;
        color: rgb(180, 180, 180);
    }

    .footer-logo{
        font-size: 35px;
    }
    
    .action-p {
        width: 100%;
        font-size: 16px;
    }

    .bread-p {
        width: 100%;
    }
}







